@charset "UTF-8";
/* line 17, ../../../../../Sites/.venvs/aaron/rubygems/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Sites/.venvs/aaron/rubygems/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Sites/.venvs/aaron/rubygems/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Sites/.venvs/aaron/rubygems/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Sites/.venvs/aaron/rubygems/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Sites/.venvs/aaron/rubygems/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Sites/.venvs/aaron/rubygems/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Sites/.venvs/aaron/rubygems/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Sites/.venvs/aaron/rubygems/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      FontSite Inc.
 * License URL: http://www.fontspring.com/fflicense/fontsite
 *
 *
 */
/* line 66, ../../../../../Sites/.venvs/aaron/rubygems/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.25em;
}

/* line 17, ../sass/_general/_root.scss */
html {
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  background: #fdf6e3;
  color: #657b83;
}

/* line 24, ../sass/_general/_root.scss */
a:link, a:visited {
  color: #dc322f;
  text-decoration: none;
}
/* line 28, ../sass/_general/_root.scss */
a:hover, a:focus, a:active {
  color: #6c71c4;
}

/* line 4, ../sass/_layout.scss */
.container, [role="banner"],
[role="contentinfo"] {
  *zoom: 1;
  max-width: 23em;
  _width: 23em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(255, 254, 251, 0.5)), color-stop(21.739%, rgba(255, 254, 251, 0.5)), color-stop(21.739%, rgba(0, 0, 0, 0)), color-stop(26.087%, rgba(0, 0, 0, 0)), color-stop(26.087%, rgba(255, 254, 251, 0.5)), color-stop(47.826%, rgba(255, 254, 251, 0.5)), color-stop(47.826%, rgba(0, 0, 0, 0)), color-stop(52.174%, rgba(0, 0, 0, 0)), color-stop(52.174%, rgba(255, 254, 251, 0.5)), color-stop(73.913%, rgba(255, 254, 251, 0.5)), color-stop(73.913%, rgba(0, 0, 0, 0)), color-stop(78.261%, rgba(0, 0, 0, 0)), color-stop(78.261%, rgba(255, 254, 251, 0.5)), color-stop(100.0%, rgba(255, 254, 251, 0.5)), color-stop(100.0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(255, 254, 251, 0.5) 0%, rgba(255, 254, 251, 0.5) 21.739%, rgba(0, 0, 0, 0) 21.739%, rgba(0, 0, 0, 0) 26.087%, rgba(255, 254, 251, 0.5) 26.087%, rgba(255, 254, 251, 0.5) 47.826%, rgba(0, 0, 0, 0) 47.826%, rgba(0, 0, 0, 0) 52.174%, rgba(255, 254, 251, 0.5) 52.174%, rgba(255, 254, 251, 0.5) 73.913%, rgba(0, 0, 0, 0) 73.913%, rgba(0, 0, 0, 0) 78.261%, rgba(255, 254, 251, 0.5) 78.261%, rgba(255, 254, 251, 0.5) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(255, 254, 251, 0.5) 0%, rgba(255, 254, 251, 0.5) 21.739%, rgba(0, 0, 0, 0) 21.739%, rgba(0, 0, 0, 0) 26.087%, rgba(255, 254, 251, 0.5) 26.087%, rgba(255, 254, 251, 0.5) 47.826%, rgba(0, 0, 0, 0) 47.826%, rgba(0, 0, 0, 0) 52.174%, rgba(255, 254, 251, 0.5) 52.174%, rgba(255, 254, 251, 0.5) 73.913%, rgba(0, 0, 0, 0) 73.913%, rgba(0, 0, 0, 0) 78.261%, rgba(255, 254, 251, 0.5) 78.261%, rgba(255, 254, 251, 0.5) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(255, 254, 251, 0.5) 0%, rgba(255, 254, 251, 0.5) 21.739%, rgba(0, 0, 0, 0) 21.739%, rgba(0, 0, 0, 0) 26.087%, rgba(255, 254, 251, 0.5) 26.087%, rgba(255, 254, 251, 0.5) 47.826%, rgba(0, 0, 0, 0) 47.826%, rgba(0, 0, 0, 0) 52.174%, rgba(255, 254, 251, 0.5) 52.174%, rgba(255, 254, 251, 0.5) 73.913%, rgba(0, 0, 0, 0) 73.913%, rgba(0, 0, 0, 0) 78.261%, rgba(255, 254, 251, 0.5) 78.261%, rgba(255, 254, 251, 0.5) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(255, 254, 251, 0.5) 0%, rgba(255, 254, 251, 0.5) 21.739%, rgba(0, 0, 0, 0) 21.739%, rgba(0, 0, 0, 0) 26.087%, rgba(255, 254, 251, 0.5) 26.087%, rgba(255, 254, 251, 0.5) 47.826%, rgba(0, 0, 0, 0) 47.826%, rgba(0, 0, 0, 0) 52.174%, rgba(255, 254, 251, 0.5) 52.174%, rgba(255, 254, 251, 0.5) 73.913%, rgba(0, 0, 0, 0) 73.913%, rgba(0, 0, 0, 0) 78.261%, rgba(255, 254, 251, 0.5) 78.261%, rgba(255, 254, 251, 0.5) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(255, 254, 251, 0.5) 0%, rgba(255, 254, 251, 0.5) 21.739%, rgba(0, 0, 0, 0) 21.739%, rgba(0, 0, 0, 0) 26.087%, rgba(255, 254, 251, 0.5) 26.087%, rgba(255, 254, 251, 0.5) 47.826%, rgba(0, 0, 0, 0) 47.826%, rgba(0, 0, 0, 0) 52.174%, rgba(255, 254, 251, 0.5) 52.174%, rgba(255, 254, 251, 0.5) 73.913%, rgba(0, 0, 0, 0) 73.913%, rgba(0, 0, 0, 0) 78.261%, rgba(255, 254, 251, 0.5) 78.261%, rgba(255, 254, 251, 0.5) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}
/* line 38, ../../../../../Sites/.venvs/aaron/rubygems/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after, [role="banner"]:after,
[role="contentinfo"]:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 40em) {
  /* line 4, ../sass/_layout.scss */
  .container, [role="banner"],
  [role="contentinfo"] {
    *zoom: 1;
    max-width: 59em;
    _width: 59em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(255, 254, 251, 0.5)), color-stop(8.475%, rgba(255, 254, 251, 0.5)), color-stop(8.475%, rgba(0, 0, 0, 0)), color-stop(10.169%, rgba(0, 0, 0, 0)), color-stop(10.169%, rgba(255, 254, 251, 0.5)), color-stop(18.644%, rgba(255, 254, 251, 0.5)), color-stop(18.644%, rgba(0, 0, 0, 0)), color-stop(20.339%, rgba(0, 0, 0, 0)), color-stop(20.339%, rgba(255, 254, 251, 0.5)), color-stop(28.814%, rgba(255, 254, 251, 0.5)), color-stop(28.814%, rgba(0, 0, 0, 0)), color-stop(30.508%, rgba(0, 0, 0, 0)), color-stop(30.508%, rgba(255, 254, 251, 0.5)), color-stop(38.983%, rgba(255, 254, 251, 0.5)), color-stop(38.983%, rgba(0, 0, 0, 0)), color-stop(40.678%, rgba(0, 0, 0, 0)), color-stop(40.678%, rgba(255, 254, 251, 0.5)), color-stop(49.153%, rgba(255, 254, 251, 0.5)), color-stop(49.153%, rgba(0, 0, 0, 0)), color-stop(50.847%, rgba(0, 0, 0, 0)), color-stop(50.847%, rgba(255, 254, 251, 0.5)), color-stop(59.322%, rgba(255, 254, 251, 0.5)), color-stop(59.322%, rgba(0, 0, 0, 0)), color-stop(61.017%, rgba(0, 0, 0, 0)), color-stop(61.017%, rgba(255, 254, 251, 0.5)), color-stop(69.492%, rgba(255, 254, 251, 0.5)), color-stop(69.492%, rgba(0, 0, 0, 0)), color-stop(71.186%, rgba(0, 0, 0, 0)), color-stop(71.186%, rgba(255, 254, 251, 0.5)), color-stop(79.661%, rgba(255, 254, 251, 0.5)), color-stop(79.661%, rgba(0, 0, 0, 0)), color-stop(81.356%, rgba(0, 0, 0, 0)), color-stop(81.356%, rgba(255, 254, 251, 0.5)), color-stop(89.831%, rgba(255, 254, 251, 0.5)), color-stop(89.831%, rgba(0, 0, 0, 0)), color-stop(91.525%, rgba(0, 0, 0, 0)), color-stop(91.525%, rgba(255, 254, 251, 0.5)), color-stop(100.0%, rgba(255, 254, 251, 0.5)), color-stop(100.0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(255, 254, 251, 0.5) 0%, rgba(255, 254, 251, 0.5) 8.475%, rgba(0, 0, 0, 0) 8.475%, rgba(0, 0, 0, 0) 10.169%, rgba(255, 254, 251, 0.5) 10.169%, rgba(255, 254, 251, 0.5) 18.644%, rgba(0, 0, 0, 0) 18.644%, rgba(0, 0, 0, 0) 20.339%, rgba(255, 254, 251, 0.5) 20.339%, rgba(255, 254, 251, 0.5) 28.814%, rgba(0, 0, 0, 0) 28.814%, rgba(0, 0, 0, 0) 30.508%, rgba(255, 254, 251, 0.5) 30.508%, rgba(255, 254, 251, 0.5) 38.983%, rgba(0, 0, 0, 0) 38.983%, rgba(0, 0, 0, 0) 40.678%, rgba(255, 254, 251, 0.5) 40.678%, rgba(255, 254, 251, 0.5) 49.153%, rgba(0, 0, 0, 0) 49.153%, rgba(0, 0, 0, 0) 50.847%, rgba(255, 254, 251, 0.5) 50.847%, rgba(255, 254, 251, 0.5) 59.322%, rgba(0, 0, 0, 0) 59.322%, rgba(0, 0, 0, 0) 61.017%, rgba(255, 254, 251, 0.5) 61.017%, rgba(255, 254, 251, 0.5) 69.492%, rgba(0, 0, 0, 0) 69.492%, rgba(0, 0, 0, 0) 71.186%, rgba(255, 254, 251, 0.5) 71.186%, rgba(255, 254, 251, 0.5) 79.661%, rgba(0, 0, 0, 0) 79.661%, rgba(0, 0, 0, 0) 81.356%, rgba(255, 254, 251, 0.5) 81.356%, rgba(255, 254, 251, 0.5) 89.831%, rgba(0, 0, 0, 0) 89.831%, rgba(0, 0, 0, 0) 91.525%, rgba(255, 254, 251, 0.5) 91.525%, rgba(255, 254, 251, 0.5) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(255, 254, 251, 0.5) 0%, rgba(255, 254, 251, 0.5) 8.475%, rgba(0, 0, 0, 0) 8.475%, rgba(0, 0, 0, 0) 10.169%, rgba(255, 254, 251, 0.5) 10.169%, rgba(255, 254, 251, 0.5) 18.644%, rgba(0, 0, 0, 0) 18.644%, rgba(0, 0, 0, 0) 20.339%, rgba(255, 254, 251, 0.5) 20.339%, rgba(255, 254, 251, 0.5) 28.814%, rgba(0, 0, 0, 0) 28.814%, rgba(0, 0, 0, 0) 30.508%, rgba(255, 254, 251, 0.5) 30.508%, rgba(255, 254, 251, 0.5) 38.983%, rgba(0, 0, 0, 0) 38.983%, rgba(0, 0, 0, 0) 40.678%, rgba(255, 254, 251, 0.5) 40.678%, rgba(255, 254, 251, 0.5) 49.153%, rgba(0, 0, 0, 0) 49.153%, rgba(0, 0, 0, 0) 50.847%, rgba(255, 254, 251, 0.5) 50.847%, rgba(255, 254, 251, 0.5) 59.322%, rgba(0, 0, 0, 0) 59.322%, rgba(0, 0, 0, 0) 61.017%, rgba(255, 254, 251, 0.5) 61.017%, rgba(255, 254, 251, 0.5) 69.492%, rgba(0, 0, 0, 0) 69.492%, rgba(0, 0, 0, 0) 71.186%, rgba(255, 254, 251, 0.5) 71.186%, rgba(255, 254, 251, 0.5) 79.661%, rgba(0, 0, 0, 0) 79.661%, rgba(0, 0, 0, 0) 81.356%, rgba(255, 254, 251, 0.5) 81.356%, rgba(255, 254, 251, 0.5) 89.831%, rgba(0, 0, 0, 0) 89.831%, rgba(0, 0, 0, 0) 91.525%, rgba(255, 254, 251, 0.5) 91.525%, rgba(255, 254, 251, 0.5) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(255, 254, 251, 0.5) 0%, rgba(255, 254, 251, 0.5) 8.475%, rgba(0, 0, 0, 0) 8.475%, rgba(0, 0, 0, 0) 10.169%, rgba(255, 254, 251, 0.5) 10.169%, rgba(255, 254, 251, 0.5) 18.644%, rgba(0, 0, 0, 0) 18.644%, rgba(0, 0, 0, 0) 20.339%, rgba(255, 254, 251, 0.5) 20.339%, rgba(255, 254, 251, 0.5) 28.814%, rgba(0, 0, 0, 0) 28.814%, rgba(0, 0, 0, 0) 30.508%, rgba(255, 254, 251, 0.5) 30.508%, rgba(255, 254, 251, 0.5) 38.983%, rgba(0, 0, 0, 0) 38.983%, rgba(0, 0, 0, 0) 40.678%, rgba(255, 254, 251, 0.5) 40.678%, rgba(255, 254, 251, 0.5) 49.153%, rgba(0, 0, 0, 0) 49.153%, rgba(0, 0, 0, 0) 50.847%, rgba(255, 254, 251, 0.5) 50.847%, rgba(255, 254, 251, 0.5) 59.322%, rgba(0, 0, 0, 0) 59.322%, rgba(0, 0, 0, 0) 61.017%, rgba(255, 254, 251, 0.5) 61.017%, rgba(255, 254, 251, 0.5) 69.492%, rgba(0, 0, 0, 0) 69.492%, rgba(0, 0, 0, 0) 71.186%, rgba(255, 254, 251, 0.5) 71.186%, rgba(255, 254, 251, 0.5) 79.661%, rgba(0, 0, 0, 0) 79.661%, rgba(0, 0, 0, 0) 81.356%, rgba(255, 254, 251, 0.5) 81.356%, rgba(255, 254, 251, 0.5) 89.831%, rgba(0, 0, 0, 0) 89.831%, rgba(0, 0, 0, 0) 91.525%, rgba(255, 254, 251, 0.5) 91.525%, rgba(255, 254, 251, 0.5) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(255, 254, 251, 0.5) 0%, rgba(255, 254, 251, 0.5) 8.475%, rgba(0, 0, 0, 0) 8.475%, rgba(0, 0, 0, 0) 10.169%, rgba(255, 254, 251, 0.5) 10.169%, rgba(255, 254, 251, 0.5) 18.644%, rgba(0, 0, 0, 0) 18.644%, rgba(0, 0, 0, 0) 20.339%, rgba(255, 254, 251, 0.5) 20.339%, rgba(255, 254, 251, 0.5) 28.814%, rgba(0, 0, 0, 0) 28.814%, rgba(0, 0, 0, 0) 30.508%, rgba(255, 254, 251, 0.5) 30.508%, rgba(255, 254, 251, 0.5) 38.983%, rgba(0, 0, 0, 0) 38.983%, rgba(0, 0, 0, 0) 40.678%, rgba(255, 254, 251, 0.5) 40.678%, rgba(255, 254, 251, 0.5) 49.153%, rgba(0, 0, 0, 0) 49.153%, rgba(0, 0, 0, 0) 50.847%, rgba(255, 254, 251, 0.5) 50.847%, rgba(255, 254, 251, 0.5) 59.322%, rgba(0, 0, 0, 0) 59.322%, rgba(0, 0, 0, 0) 61.017%, rgba(255, 254, 251, 0.5) 61.017%, rgba(255, 254, 251, 0.5) 69.492%, rgba(0, 0, 0, 0) 69.492%, rgba(0, 0, 0, 0) 71.186%, rgba(255, 254, 251, 0.5) 71.186%, rgba(255, 254, 251, 0.5) 79.661%, rgba(0, 0, 0, 0) 79.661%, rgba(0, 0, 0, 0) 81.356%, rgba(255, 254, 251, 0.5) 81.356%, rgba(255, 254, 251, 0.5) 89.831%, rgba(0, 0, 0, 0) 89.831%, rgba(0, 0, 0, 0) 91.525%, rgba(255, 254, 251, 0.5) 91.525%, rgba(255, 254, 251, 0.5) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(255, 254, 251, 0.5) 0%, rgba(255, 254, 251, 0.5) 8.475%, rgba(0, 0, 0, 0) 8.475%, rgba(0, 0, 0, 0) 10.169%, rgba(255, 254, 251, 0.5) 10.169%, rgba(255, 254, 251, 0.5) 18.644%, rgba(0, 0, 0, 0) 18.644%, rgba(0, 0, 0, 0) 20.339%, rgba(255, 254, 251, 0.5) 20.339%, rgba(255, 254, 251, 0.5) 28.814%, rgba(0, 0, 0, 0) 28.814%, rgba(0, 0, 0, 0) 30.508%, rgba(255, 254, 251, 0.5) 30.508%, rgba(255, 254, 251, 0.5) 38.983%, rgba(0, 0, 0, 0) 38.983%, rgba(0, 0, 0, 0) 40.678%, rgba(255, 254, 251, 0.5) 40.678%, rgba(255, 254, 251, 0.5) 49.153%, rgba(0, 0, 0, 0) 49.153%, rgba(0, 0, 0, 0) 50.847%, rgba(255, 254, 251, 0.5) 50.847%, rgba(255, 254, 251, 0.5) 59.322%, rgba(0, 0, 0, 0) 59.322%, rgba(0, 0, 0, 0) 61.017%, rgba(255, 254, 251, 0.5) 61.017%, rgba(255, 254, 251, 0.5) 69.492%, rgba(0, 0, 0, 0) 69.492%, rgba(0, 0, 0, 0) 71.186%, rgba(255, 254, 251, 0.5) 71.186%, rgba(255, 254, 251, 0.5) 79.661%, rgba(0, 0, 0, 0) 79.661%, rgba(0, 0, 0, 0) 81.356%, rgba(255, 254, 251, 0.5) 81.356%, rgba(255, 254, 251, 0.5) 89.831%, rgba(0, 0, 0, 0) 89.831%, rgba(0, 0, 0, 0) 91.525%, rgba(255, 254, 251, 0.5) 91.525%, rgba(255, 254, 251, 0.5) 100.0%, rgba(0, 0, 0, 0) 100.0%, rgba(0, 0, 0, 0) 100%);
    background-position: left top;
    -webkit-background-origin: content;
    -moz-background-origin: content;
    -ms-background-origin: content-box;
    -o-background-origin: content-box;
    background-origin: content-box;
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
    background-clip: content-box;
  }
  /* line 38, ../../../../../Sites/.venvs/aaron/rubygems/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .container:after, [role="banner"]:after,
  [role="contentinfo"]:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (min-width: 40em) {
  /* line 21, ../sass/_layout.scss */
  [role="main"] {
    width: 69.492%;
    float: left;
    margin-right: 1.695%;
    display: inline;
  }
}
/* line 79, ../../../../../Sites/.venvs/aaron/rubygems/gems/susy-1.0.rc.1/sass/susy/_media.scss */
.lt-ie9 [role="main"] {
  width: 69.492%;
  float: left;
  margin-right: 1.695%;
  display: inline;
}

@media (min-width: 40em) {
  /* line 27, ../sass/_layout.scss */
  [role="navigation"] {
    width: 28.814%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
  }
}
/* line 79, ../../../../../Sites/.venvs/aaron/rubygems/gems/susy-1.0.rc.1/sass/susy/_media.scss */
.lt-ie9 [role="navigation"] {
  width: 28.814%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}

/* line 8, ../sass/_modules/_banner.scss */
h1 {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 1.938em;
  line-height: 1.29em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .01em;
}
@media (min-width: 40em) {
  /* line 8, ../sass/_modules/_banner.scss */
  h1 {
    font-size: 2.438em;
    line-height: 1.282em;
  }
}
/* line 79, ../../../../../Sites/.venvs/aaron/rubygems/gems/susy-1.0.rc.1/sass/susy/_media.scss */
.lt-ie9 h1 {
  font-size: 2.438em;
  line-height: 1.282em;
}
@media (min-width: 61em) {
  /* line 8, ../sass/_modules/_banner.scss */
  h1 {
    font-size: 5.938em;
    line-height: 1.053em;
  }
}
