@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      FontSite Inc.
 * License URL: http://www.fontspring.com/fflicense/fontsite
 *
 *
 */
@font-face {
  font-family: "FranklinGothicFS";
  src: url('../fonts/FranklinGothic-Book-webfont.eot');
  src: url('../fonts/FranklinGothic-Book-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-Book-webfont.woff') format('woff'), url('../fonts/FranklinGothic-Book-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-Book-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothicFS";
  src: url('../fonts/FranklinGothic-BookIt-webfont.eot');
  src: url('../fonts/FranklinGothic-BookIt-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-BookIt-webfont.woff') format('woff'), url('../fonts/FranklinGothic-BookIt-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-BookIt-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "FranklinGothicFS";
  src: url('../fonts/FranklinGothic-Demi-webfont.eot');
  src: url('../fonts/FranklinGothic-Demi-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-Demi-webfont.woff') format('woff'), url('../fonts/FranklinGothic-Demi-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-Demi-webfont.svg#webfont') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothicFS";
  src: url('../fonts/FranklinGothic-DemiIt-webfont.eot');
  src: url('../fonts/FranklinGothic-DemiIt-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-DemiIt-webfont.woff') format('woff'), url('../fonts/FranklinGothic-DemiIt-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-DemiIt-webfont.svg#webfont') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "FranklinGothicFSCd";
  src: url('../fonts/FranklinGothic-Cd-webfont.eot');
  src: url('../fonts/FranklinGothic-Cd-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-Cd-webfont.woff') format('woff'), url('../fonts/FranklinGothic-Cd-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-Cd-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothicFSCd";
  src: url('../fonts/FranklinGothic-CdIt-webfont.eot');
  src: url('../fonts/FranklinGothic-CdIt-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-CdIt-webfont.woff') format('woff'), url('../fonts/FranklinGothic-CdIt-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-CdIt-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "FranklinGothicFSCd";
  src: url('../fonts/FranklinGothic-DemiCd-webfont.eot');
  src: url('../fonts/FranklinGothic-DemiCd-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-DemiCd-webfont.woff') format('woff'), url('../fonts/FranklinGothic-DemiCd-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-DemiCd-webfont.svg#webfont') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "FranklinGothicFSCd";
  src: url('../fonts/FranklinGothic-DemiCdIt-webfont.eot');
  src: url('../fonts/FranklinGothic-DemiCdIt-webfont.eot?#iefix') format('eot'), url('../fonts/FranklinGothic-DemiCdIt-webfont.woff') format('woff'), url('../fonts/FranklinGothic-DemiCdIt-webfont.ttf') format('truetype'), url('../fonts/FranklinGothic-DemiCdIt-webfont.svg#webfont') format('svg');
  font-weight: bold;
  font-style: italic;
}

html {
  font-size: 100%;
  line-height: 1.25em;
}

html {
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  font-family: "FranklinGothicFSCd", "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: #fdf6e3;
  color: #586e75;
}

body {
  overflow-x: hidden;
}

a:link, a:visited {
  color: #dc322f;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color: #b58900;
}

.container, [role="banner"] hgroup,
[role="contentinfo"] {
  overflow: hidden;
  *zoom: 1;
  *zoom: 1;
  max-width: 23em;
  _width: 23em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
.container:after, [role="banner"] hgroup:after,
[role="contentinfo"]:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 40em) {
  .container, [role="banner"] hgroup,
  [role="contentinfo"] {
    *zoom: 1;
    max-width: 71em;
    _width: 71em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    -webkit-background-origin: content;
    -moz-background-origin: content;
    -ms-background-origin: content-box;
    -o-background-origin: content-box;
    background-origin: content-box;
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
    background-clip: content-box;
  }
  .container:after, [role="banner"] hgroup:after,
  [role="contentinfo"]:after {
    content: "";
    display: table;
    clear: both;
  }
}

[role="banner"] hgroup,
[role="contentinfo"] {
  clear: both;
}

[role="main"] {
  margin-bottom: 2.5em;
}
@media (min-width: 40em) {
  [role="main"] {
    width: 74.648%;
    float: left;
    margin-right: 1.408%;
    display: inline;
  }
}
.lt-ie9 [role="main"] {
  width: 74.648%;
  float: left;
  margin-right: 1.408%;
  display: inline;
}

@media (min-width: 40em) {
  [role="navigation"] {
    width: 23.944%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
    margin-bottom: 2.5em;
  }
}
.lt-ie9 [role="navigation"] {
  width: 23.944%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  margin-bottom: 2.5em;
}

[role="banner"] {
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
  margin: -3.75em -3.75em 3.75em;
  padding: 5em 3.75em 1.25em;
  background: #dc322f url('../img/burst.png?1337939254') no-repeat scroll bottom left;
  color: #fdf6e3;
  font-weight: bold;
  text-transform: uppercase;
}
[role="banner"] hgroup {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}

h1 {
  font-size: 1.938em;
  line-height: 1.29em;
}
@media (min-width: 40em) {
  h1 {
    font-size: 2.438em;
    line-height: 1.282em;
  }
}
.lt-ie9 h1 {
  font-size: 2.438em;
  line-height: 1.282em;
}
@media (min-width: 49em) {
  h1 {
    font-size: 5.938em;
    line-height: 1.053em;
  }
}

[role="contentinfo"] {
  color: #93a1a1;
  text-transform: uppercase;
}
[role="contentinfo"] b {
  color: #657b83;
  font-weight: bold;
}
