//-----------------------------------------------------------------------------
// Imports

@import "compass";
@import "compass/layout";
@import "susy";

//-----------------------------------------------------------------------------
// Grid Settings

$total-columns: 4;
$column-width: 5em;
$gutter-width: 1em;
$grid-padding: $gutter-width;

$show-grid-backgrounds: false;

$min    : 40em;
$lay    : 12;
$ie     : lt-ie9;
$break  : $min $lay $ie;

//-----------------------------------------------------------------------------
// Other Settings

@import "colors";
@import "size";
@import "type";