// ---------------------------------------------------------------------------
// Imports

@import "font-license";
@import "franklin-gothic";
@import "icomoon";

//-----------------------------------------------------------------------------
// Settings

$serif-stack  : Georgia, serif;

//-----------------------------------------------------------------------------
// Mixins

@mixin serif { font-family: $serif-stack; }
@mixin sans { font-family: $sans-stack; }
@mixin cond { font-family: $cond-stack; }
