// ---------------------------------------------------------------------------
// Settings

$fg          : FranklinGothicFS     'FranklinGothic-Book-webfont'     normal  normal;
$fgitalic    : FranklinGothicFS     'FranklinGothic-BookIt-webfont'   normal  italic;
$fgbold      : FranklinGothicFS     'FranklinGothic-Demi-webfont'     bold  normal;
$fgboldit    : FranklinGothicFS     'FranklinGothic-DemiIt-webfont'     bold  italic;

$fgcd        : FranklinGothicFSCd   'FranklinGothic-Cd-webfont'     normal  normal;
$fgcditalic  : FranklinGothicFSCd   'FranklinGothic-CdIt-webfont'   normal  italic;
$fgcdbold    : FranklinGothicFSCd   'FranklinGothic-DemiCd-webfont'     bold  normal;
$fgcdboldit  : FranklinGothicFSCd   'FranklinGothic-DemiCdIt-webfont'     bold  italic;
