// ---------------------------------------------------------------------------
// Settings

$sans-stack : 'FranklinGothicFSBook', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$cond-stack : 'FranklinGothicFSCd', 'Helvetica Neue', Arial, Helvetica, sans-serif;

// ---------------------------------------------------------------------------
// Fonts

// Franklin Gothic Book
@include font-face (
  'FranklinGothicFS',
  font-files(
    'FranklinGothic-Book-webfont.woff', 'woff', 
    'FranklinGothic-Book-webfont.ttf', 'truetype', 
    'FranklinGothic-Book-webfont.svg#webfont', 'svg'
  ),
  'FranklinGothic-Book-webfont.eot',
  $weight : normal,
  $style  : normal 
);

// Franklin Gothic Book Italic
@include font-face ( 
  'FranklinGothicFS',
  font-files(
    'FranklinGothic-BookIt-webfont.woff', 'woff', 
    'FranklinGothic-BookIt-webfont.ttf', 'truetype', 
    'FranklinGothic-BookIt-webfont.svg#webfont', 'svg'
  ),
  'FranklinGothic-BookIt-webfont.eot',
  $weight : normal,
  $style  : italic 
);

// Franklin Gothic Demi
@include font-face ( 
  'FranklinGothicFS',
  font-files(
    'FranklinGothic-Demi-webfont.woff', 'woff', 
    'FranklinGothic-Demi-webfont.ttf', 'truetype', 
    'FranklinGothic-Demi-webfont.svg#webfont', 'svg'
  ),
  'FranklinGothic-Demi-webfont.eot',
  $weight : bold,
  $style  : normal 
);

// Franklin Gothic Demi Italic
@include font-face ( 
  'FranklinGothicFS',
  font-files(
    'FranklinGothic-DemiIt-webfont.woff', 'woff', 
    'FranklinGothic-DemiIt-webfont.ttf', 'truetype', 
    'FranklinGothic-DemiIt-webfont.svg#webfont', 'svg'
  ),
  'FranklinGothic-DemiIt-webfont.eot',
  $weight : bold,
  $style  : italic 
);

// Franklin Gothic Condensed
@include font-face ( 
  'FranklinGothicFSCd',
  font-files(
    'FranklinGothic-Cd-webfont.woff', 'woff', 
    'FranklinGothic-Cd-webfont.ttf', 'truetype', 
    'FranklinGothic-Cd-webfont.svg#webfont', 'svg'
  ),
  'FranklinGothic-Cd-webfont.eot',
  $weight : normal,
  $style  : normal 
);

// Franklin Gothic Condensed Italic
@include font-face ( 
  'FranklinGothicFSCd',
  font-files(
    'FranklinGothic-CdIt-webfont.woff', 'woff', 
    'FranklinGothic-CdIt-webfont.ttf', 'truetype', 
    'FranklinGothic-CdIt-webfont.svg#webfont', 'svg'
  ),
  'FranklinGothic-CdIt-webfont.eot',
  $weight : normal,
  $style  : italic 
);

// Franklin Gothic Condensed Demi
@include font-face ( 
  'FranklinGothicFSCd',
  font-files(
    'FranklinGothic-DemiCd-webfont.woff', 'woff', 
    'FranklinGothic-DemiCd-webfont.ttf', 'truetype', 
    'FranklinGothic-DemiCd-webfont.svg#webfont', 'svg'
  ),
  'FranklinGothic-DemiCd-webfont.eot',
  $weight : bold,
  $style  : normal 
);

// Franklin Gothic Condensed Demi Italic
@include font-face ( 
  'FranklinGothicFSCd',
  font-files(
    'FranklinGothic-DemiCdIt-webfont.woff', 'woff', 
    'FranklinGothic-DemiCdIt-webfont.ttf', 'truetype', 
    'FranklinGothic-DemiCdIt-webfont.svg#webfont', 'svg'
  ),
  'FranklinGothic-DemiCdIt-webfont.eot',
  $weight : bold,
  $style  : italic 
);
