//-----------------------------------------------------------------------------
// Imports

@import "compass/reset";
@import "fonts";

//-----------------------------------------------------------------------------
// Variables

$link   : '&:link, &:visited';
$focus  : '&:hover, &:focus, &:active';

//-----------------------------------------------------------------------------
// Root

@include establish-baseline;
html { 
  @include text-shadow(rgba(white,.5) 0 1px 0);
  @include cond;
  background: $base3;
  color: $base;
}

body {
  overflow-x: hidden;
}

a {
  #{$link} {
    color: $alt;
    text-decoration: none;
  }
  #{$focus} {
    color: $accent;
  }
}
