//-----------------------------------------------------------------------------
// Imports

@import "compass/reset";
@import "fonts";

//-----------------------------------------------------------------------------
// Variables

$link   : '&:link, &:visited';
$focus  : '&:hover, &:focus, &:active';

$theme  : light;
$back   : if($theme == light, $base3, $base03);
$more   : if($theme == light, white, black);
$amore  : if($theme == light, black, white);;
$anti   : if($theme == light, $base03, $base3);

//-----------------------------------------------------------------------------
// Root

@include establish-baseline;
html {
  @include text-shadow(rgba($more,.5) 0 1px 0);
  @include cond;
  background: $back;
  color: $base;
}

html, body {
  overflow-x: hidden;
}

a {
  #{$link} {
    color: $alt;
    text-decoration: none;
  }
  #{$focus} {
    color: $accent;
  }
}

img {
  @include box-sizing(border-box);
  width: 100%;
  border: 3px solid $base;
  a & {
    border: 3px solid $alt;
  }
}

