// ---------------------------------------------------------------------------
// Settings

$ss          : SquareSerif     'SquareSerif-Book-webfont'         normal  normal;
$ssitalic    : SquareSerif     'SquareSerif-BookItalic-webfont'   normal  italic;
$ssbold      : SquareSerif     'SquareSerif-Demi-webfont'         bold  normal;
$ssboldit    : SquareSerif     'SquareSerif-DemiItalic-webfont'   bold  italic;
