//-----------------------------------------------------------------------------
// Site Banner

[role="banner"] {

}

h1 {
  @include sans;
  @include adjust-font-size-to($largepx);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .01em;

  @include at-breakpoint($break) {
    @include adjust-font-size-to($xlargepx);
  }

  @include at-breakpoint($lay) {
    @include adjust-font-size-to($xxlargepx);
  }
}
