//-----------------------------------------------------------------------------
// Site Footer

.meta {
  @include padding-trailer;
  @include text-shadow(rgba($amore,.5) 0 1px 0);
  background: $anti;
}

[role="contentinfo"] {
  @include trailer;
  color: $base1;
  text-transform: uppercase;
  b {
    color: $base00;
    font-weight: bold; 
  }
}
