//-----------------------------------------------------------------------------
// Site Footer

.meta {
  @include padding-trailer;
  @include text-shadow(rgba($amore,.5) 0 1px 0);
  background: $anti;

  @if $site == jacob { padding-top: rhythm(2); }
}

[role="contentinfo"] {
  @include trailer;
  color: $base1;
  text-transform: uppercase;
  b {
    color: $base00;
    font-weight: bold;
  }
}
