// ---------------------------------------------------------------------------
// Main Content

[role="main"] {
  @include padding-trailer(10);
  background: image-url('city-dark2.png') repeat-x scroll -25% bottom;
  @include at-breakpoint($break) { @include padding-trailer(12); }
}

.pagination {
  @include pie-clearfix;
  @include adjust-font-size-to($xlargepx);
  @include at-breakpoint($break) {
    @include suffix(4,12);
  }
  a {
    @extend %icon;
    @extend %no-text-icon;
    #{$link} {
      @include transition(all 150ms);
    }
    #{$focus} {
      @include text-shadow($anti 0 1px 0);
      @include scale(2);
    }
  }
  .prev a { @extend %icon-arrow-left; }
  .next a { @extend %icon-arrow-right; }
  li {
    float: left;
    width: 1em;
    &.next { float: right; }
  }
}
