//-----------------------------------------------------------------------------
// Site Nav

[role="navigation"] {
  @include h-borders(3px,1);
  @include trailer(2);
  border-color: $alt;

  .navhead {
    display: inline-block;
    color: if($theme == light, $base2, $base02);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .01em;
    vertical-align: middle;
  }
  ul {
    @include inline-block-list;
    display: inline;
  }
  .navhead, .tag { margin-right: rhythm(1); }
}
